<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1005848987489-sp3ud7lvt26pm7clhi6nod7ljar57k6t.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1005848987489-sp3ud7lvt26pm7clhi6nod7ljar57k6t</string>
	<key>API_KEY</key>
	<string>AIzaSyC19g4yINAzDF-tNOUfNsdagvUlhSlgENc</string>
	<key>GCM_SENDER_ID</key>
	<string>1005848987489</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.VaccinationApp</string>
	<key>PROJECT_ID</key>
	<string>vaccination-booking-ce238</string>
	<key>STORAGE_BUCKET</key>
	<string>vaccination-booking-ce238.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1005848987489:ios:47f9983768c8c24024e720</string>
</dict>
</plist>